@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.pStyles h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  color: rgb(250, 249, 244);
}
.pStyles h1 {
  font-family: Manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  font-weight: 800;
}

.pStyles ul {
  padding-left: 40px;
}

.pStyles li {
  font-size: 20px;
}

.pStyles strong {
  color: #c5faa1;
  font-size: 19px;
}

.pStyles em {
  color: #dffdcb;
  font-size: 18px;
}

.pStyles p {
  font-size: 18px;
  font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  margin: 1.333rem 0;
}

.pStyles a {
  color: #b3ff80;
  font-size: 18px;
  text-decoration: underline;
}

.pStyles img {
  padding: 20px 0px;
}

@media only screen and (max-width: 600px) {
  .pContainer {
    padding: 0 5px;
  }

  .pStyles h1 {
    font-size: 2.5em;
  }

  .pStyles a,
  strong {
    font-size: 18px;
  }
  .pStyles strong {
    font-size: 18px;
  }

  .pStyles p,
  a {
    font-size: 18px;
    line-height: 1.7777;
  }
}
